main section:nth-child(8) {
    background-color: #E8E8E8;
    .wrapper {
        min-height: 55vh;
        background: url(/styles/assets/main-image-4.jpeg);
        background-repeat: no-repeat;
        background-size: contain;
    }
    div {
        @include flex(space-between, center);
        flex: 1;
        text-align: center;
        padding: 0 2%;
    }
    .p1 {
        @include flex(center, center);
        flex-direction: column;
    }
    h1 {
        text-transform: uppercase;
        font-weight: 500;
        @include fontSize(30);
        letter-spacing: 3px;
    }
    p {
        padding: 5% 0 8% 0;
        font-family: $font-stack-crimsontext;
        font-style: italic;
        opacity: 0.6;
    }
    button {
        background-color: rgba($color: #000000, $alpha: 1.0);
        border: none;
    }
    a {
        @include fontSize(12);
        letter-spacing: 3px;
        color: $primaryColour;
        padding: 15px 40px;
        &:hover {
            color: $primarybtn;
        }
    }
    @media screen and (max-width: 1307px) {
        .wrapper {
            background-size: cover;
        }
    }
    @media screen and (max-width: 1050px) {
        .wrapper {
            background-position: -550px;
            div:nth-child(2) {
                display: none;
            }
            h1, p{
                text-shadow: 0 0 3px #fff;
            }
            p {
                @include fontSize(20);
                opacity: 1;
            }
        }
    }
    @media screen and (max-width: 438px) {
        .wrapper {
            background: none;
        }
    }
}