html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

body * {
  padding: 0;
  margin: 0;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

a {
  display: block;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

header {
  background: url(/styles/assets/main-image-1.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #FFF;
}

header nav {
  min-height: 6.5vh;
  position: fixed;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.2);
}

header img {
  max-height: 40px;
  padding-left: 15px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header li {
  padding: 0 15px;
  position: relative;
}

header ul a {
  color: #FFF;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  text-shadow: 0 0 5px #000;
  line-height: 6.5vh;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header ul a:hover {
  border-bottom: 2px solid #eeb013;
  color: #eeb013;
}

header .hamburger {
  width: 4vh;
  height: 3vh;
  position: relative;
  cursor: pointer;
  line-height: 2vh;
  z-index: 1000;
}

header .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  -webkit-transition: all 0.65s;
  transition: all 0.65s;
  right: 0;
}

header .line:nth-child(1) {
  top: 0;
}

header .line:nth-child(2) {
  top: 40%;
  width: 2.5vh;
}

header .line:nth-child(3) {
  top: 90%;
  width: 1.5vh;
}

header .hamburger.active .line:nth-child(1) {
  -webkit-transform: translateY(1.25vh) rotate(45deg);
          transform: translateY(1.25vh) rotate(45deg);
  width: 4vh;
}

header .hamburger.active .line:nth-child(2) {
  opacity: 0;
}

header .hamburger.active .line:nth-child(3) {
  -webkit-transform: translateY(-1.25vh) rotate(-45deg);
          transform: translateY(-1.25vh) rotate(-45deg);
  width: 4vh;
}

header .hamburger {
  display: none;
}

@media screen and (max-width: 800px) {
  header .hamburger {
    display: block;
  }
  header .nav-list {
    display: none;
    text-align: center;
  }
  header .nav-list.active {
    display: block;
  }
  header .outside {
    z-index: 1;
    position: absolute;
    top: 6.5vh;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

header .header-fas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-fas i {
  padding: 0 20px;
  text-shadow: 0 0 2px #000;
}

header .header-fas i:hover {
  color: #eeb013;
  cursor: pointer;
}

header section {
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header h1 {
  font-size: 70px;
  font-size: 7rem;
  padding: 0 4%;
  margin: 1% 0 3% 0;
  border: 2px solid #FFF;
}

header h2 {
  text-transform: uppercase;
}

header button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: #FFF;
  text-transform: uppercase;
  font-size: 15px;
  font-size: 1.5rem;
}

header button a {
  display: block;
  color: #FFF;
  padding: 10px 35px;
  border: 2px solid #FFF;
}

header button a:hover {
  color: #eeb013;
  border-color: #eeb013;
}

@media screen and (max-width: 1000px) {
  header nav .hide {
    display: none;
  }
}

@media screen and (max-width: 616px) {
  header h1 {
    font-size: 45px;
    font-size: 4.5rem;
  }
  header h2 {
    font-size: 16px;
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 405px) {
  header h1 {
    font-size: 28px;
    font-size: 2.8rem;
  }
  header h2 {
    font-size: 12px;
    font-size: 1.2rem;
  }
  header button {
    font-size: 12px;
    font-size: 1.2rem;
  }
}

main section:first-child {
  margin: 3% 0;
}

main section:first-child .wrapper {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50vh;
}

main section:first-child a {
  color: #FFF;
}

main section:first-child div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section:first-child div:nth-child(odd) {
  font-size: 30px;
  font-size: 3rem;
}

main section:first-child img {
  position: absolute;
  z-index: -1;
}

main section:first-child div:nth-child(1) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

main section:first-child div:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 2%;
  text-align: center;
}

main section:first-child span {
  font-size: 50px;
  font-size: 5rem;
}

main section:first-child div:nth-child(3) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (max-width: 761px) {
  main section:first-child .wrapper {
    width: 100%;
    min-height: 90vh;
  }
  main section:first-child div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main section:first-child a {
    padding: 12px;
    min-width: 264px;
  }
  main section:first-child .textToCenter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section:first-child span {
    display: none;
  }
}

main section:nth-child(2) {
  background-color: #ECE8E9;
}

main section:nth-child(2) .wrapper {
  min-height: 50vh;
  background: url(/styles/assets/main-image-2.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section:nth-child(2) .wrapper div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

main section:nth-child(2) .wrapper h2 {
  text-transform: uppercase;
  font-size: 30px;
  font-size: 3rem;
}

main section:nth-child(2) .wrapper p {
  margin: 4% 0;
}

main section:nth-child(2) .wrapper p:nth-child(2) {
  font-size: 15px;
  font-size: 1.5rem;
  font-style: italic;
  font-family: "Crimson Text", serif;
}

main section:nth-child(2) .wrapper p:nth-child(3) {
  color: #eeb013;
  font-size: 20px;
  font-size: 2rem;
}

main section:nth-child(2) .wrapper button {
  text-transform: uppercase;
  background-color: #eeb013;
  border: none;
}

main section:nth-child(2) .wrapper a {
  font-size: 10px;
  font-size: 1rem;
  letter-spacing: 2px;
  padding: 10px 30px;
}

main section:nth-child(2) .wrapper a:hover {
  color: #fff;
}

@media screen and (max-width: 1200px) {
  main section:nth-child(2) .wrapper {
    min-height: 40vh;
  }
}

@media screen and (max-width: 1000px) {
  main section:nth-child(2) .wrapper {
    min-height: 30vh;
  }
  main section:nth-child(2) .wrapper h2 {
    font-size: 25px;
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 850px) {
  main section:nth-child(2) .wrapper {
    background-size: cover;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #FFF;
  }
}

@media screen and (max-width: 400px) {
  main section:nth-child(2) .wrapper h2 {
    text-shadow: 0 0 10px #000;
    font-size: 16px;
    font-size: 1.6rem;
  }
  main section:nth-child(2) .wrapper p:nth-child(2) {
    font-size: 12px;
    font-size: 1.2rem;
    text-shadow: 0 0 10px #000;
  }
  main section:nth-child(2) .wrapper p:nth-child(3) {
    font-size: 16px;
    font-size: 1.6rem;
  }
}

main section:nth-child(3) {
  background-color: #F5F5F7;
}

main section:nth-child(3) .wrapper {
  min-height: 50vh;
  background: url(/styles/assets/main-image-3.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section:nth-child(3) .wrapper div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

main section:nth-child(3) .wrapper h2 {
  text-transform: uppercase;
  font-size: 30px;
  font-size: 3rem;
}

main section:nth-child(3) .wrapper p {
  margin: 2% 0;
}

main section:nth-child(3) .wrapper p:nth-child(2) {
  font-size: 15px;
  font-size: 1.5rem;
  font-style: italic;
  font-family: "Crimson Text", serif;
}

main section:nth-child(3) .wrapper p:nth-child(3) {
  color: #eeb013;
  font-size: 20px;
  font-size: 2rem;
}

main section:nth-child(3) .wrapper button {
  text-transform: uppercase;
  background-color: #eeb013;
  border: none;
}

main section:nth-child(3) .wrapper a {
  font-size: 10px;
  font-size: 1rem;
  letter-spacing: 2px;
  padding: 10px 30px;
}

main section:nth-child(3) .wrapper a:hover {
  color: #fff;
}

@media screen and (max-width: 1200px) {
  main section:nth-child(3) .wrapper {
    min-height: 40vh;
  }
}

@media screen and (max-width: 1000px) {
  main section:nth-child(3) .wrapper {
    min-height: 30vh;
    background-position-x: 150px;
  }
  main section:nth-child(3) .wrapper h2 {
    font-size: 23px;
    font-size: 2.3rem;
  }
}

@media screen and (max-width: 850px) {
  main section:nth-child(3) .wrapper {
    background-size: cover;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-position-x: 0px;
  }
  main section:nth-child(3) .wrapper h2 {
    padding-top: 20%;
  }
}

@media screen and (max-width: 400px) {
  main section:nth-child(3) .wrapper {
    background-position-x: -150px;
  }
  main section:nth-child(3) .wrapper h2 {
    font-size: 16px;
    font-size: 1.6rem;
    padding-top: 30%;
  }
  main section:nth-child(3) .wrapper p:nth-child(2) {
    font-size: 12px;
    font-size: 1.2rem;
  }
  main section:nth-child(3) .wrapper p:nth-child(3) {
    font-size: 16px;
    font-size: 1.6rem;
  }
}

main section:nth-child(4) .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 3% 0;
}

main section:nth-child(4) .fas {
  font-size: 35px;
  font-size: 3.5rem;
  padding: 5% 0;
}

main section:nth-child(4) h2 {
  font-size: 14px;
  font-size: 1.4rem;
  padding: 5% 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

main section:nth-child(4) p {
  font-size: 13px;
  font-size: 1.3rem;
  opacity: 0.5;
  line-height: 150%;
  padding: 0 5%;
  font-style: italic;
}

@media screen and (max-width: 760px) {
  main section:nth-child(4) .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main section:nth-child(5) {
  background-image: -webkit-gradient(linear, left top, right top, from(#F6F6F8), to(#F3F3F5));
  background-image: linear-gradient(to right, #F6F6F8 0%, #F3F3F5 100%);
}

main section:nth-child(5) .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section:nth-child(5) img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

main section:nth-child(6) {
  text-align: center;
}

main section:nth-child(6) h1 {
  padding: 1% 0 0 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media screen and (max-width: 1000px) {
  main section:nth-child(6) h1 {
    padding: 5% 0 0 0;
  }
}

main section:nth-child(6) .swiper-container {
  width: 100%;
  height: 35vh;
  margin-left: auto;
  margin-right: auto;
}

main section:nth-child(6) .swiper-slide {
  font-size: 14px;
  font-size: 1.4rem;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

main section:nth-child(6) .p1 {
  font-size: 18px;
  font-size: 1.8rem;
  font-style: italic;
  font-family: "Crimson Text", serif;
  padding: 0 15%;
}

main section:nth-child(6) .p2 {
  font-size: 18px;
  font-size: 1.8rem;
  text-transform: uppercase;
  padding: 3% 0 1% 0;
  letter-spacing: 2px;
}

main section:nth-child(6) .p3 {
  font-size: 12px;
  font-size: 1.2rem;
  font-style: italic;
  text-transform: uppercase;
  opacity: 0.5;
}

main section:nth-child(7) {
  text-align: center;
}

main section:nth-child(7) h1 {
  padding: 3% 0 0 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

main section:nth-child(7) div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5% 0;
}

main section:nth-child(7) img {
  max-width: 130px;
}

@media screen and (max-width: 700px) {
  main section:nth-child(7) img {
    padding: 0 2%;
  }
  main section:nth-child(7) div:nth-child(2) {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

main section:nth-child(8) {
  background-color: #E8E8E8;
}

main section:nth-child(8) .wrapper {
  min-height: 55vh;
  background: url(/styles/assets/main-image-4.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
}

main section:nth-child(8) div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  padding: 0 2%;
}

main section:nth-child(8) .p1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main section:nth-child(8) h1 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 30px;
  font-size: 3rem;
  letter-spacing: 3px;
}

main section:nth-child(8) p {
  padding: 5% 0 8% 0;
  font-family: "Crimson Text", serif;
  font-style: italic;
  opacity: 0.6;
}

main section:nth-child(8) button {
  background-color: black;
  border: none;
}

main section:nth-child(8) a {
  font-size: 12px;
  font-size: 1.2rem;
  letter-spacing: 3px;
  color: #FFF;
  padding: 15px 40px;
}

main section:nth-child(8) a:hover {
  color: #eeb013;
}

@media screen and (max-width: 1307px) {
  main section:nth-child(8) .wrapper {
    background-size: cover;
  }
}

@media screen and (max-width: 1050px) {
  main section:nth-child(8) .wrapper {
    background-position: -550px;
  }
  main section:nth-child(8) .wrapper div:nth-child(2) {
    display: none;
  }
  main section:nth-child(8) .wrapper h1, main section:nth-child(8) .wrapper p {
    text-shadow: 0 0 3px #fff;
  }
  main section:nth-child(8) .wrapper p {
    font-size: 20px;
    font-size: 2rem;
    opacity: 1;
  }
}

@media screen and (max-width: 438px) {
  main section:nth-child(8) .wrapper {
    background: none;
  }
}

footer {
  color: #e4e4e4;
  background-color: #141414;
  font-size: 12px;
  font-size: 1.2rem;
  padding: 3% 0;
}

footer section:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .left-line {
  border-left: 2px solid #e4e4e4;
  padding-left: 2%;
  min-height: 30vh;
}

footer h2 {
  text-transform: uppercase;
}

footer .info {
  -webkit-box-flex: 1.6;
      -ms-flex: 1.6;
          flex: 1.6;
  padding-right: 2%;
}

footer .info h2 {
  color: #eeb013;
}

footer .info p {
  padding: 5% 0;
  line-height: 200%;
}

footer .info img {
  max-width: 180px;
}

footer .media {
  -webkit-box-flex: 0.6;
      -ms-flex: 0.6;
          flex: 0.6;
}

footer .media a {
  margin: 13% 0;
  color: #e4e4e4;
}

footer .media a:hover {
  color: #eeb013;
}

footer .twitter {
  -webkit-box-flex: 1.2;
      -ms-flex: 1.2;
          flex: 1.2;
}

footer .twitter p {
  line-height: 170%;
  padding-top: 5%;
}

footer .twitter i {
  padding-top: 3%;
}

footer .instargram {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer .instargram h2 {
  padding-bottom: 5%;
}

footer .instargram div:hover img {
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

footer .instargram div img {
  max-width: 70px;
  margin: 2%;
  cursor: pointer;
}

footer .instargram div img:hover {
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

footer section:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5%;
}

footer section:nth-child(2) i {
  padding: 0 20px;
  cursor: pointer;
}

footer section:nth-child(2) i:hover {
  color: #eeb013;
}

@media screen and (max-width: 1331px) {
  footer .wrapper {
    width: 99%;
  }
}

@media screen and (max-width: 1360px) {
  footer section:nth-child(1) {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .info {
    min-width: 423px;
  }
  footer .media {
    min-width: 176px;
  }
  footer .twitter {
    min-width: 326px;
  }
  footer .instargram {
    min-width: 276px;
  }
}

@media screen and (max-width: 423px) {
  footer .info, footer .media, footer .twitter, footer .instargram {
    min-width: initial;
  }
  footer section:nth-child(1) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .media {
    width: 100%;
  }
  footer .info {
    padding-bottom: 5%;
  }
  footer section:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  footer section:nth-child(2) p, footer section:nth-child(2) div {
    padding: 2% 0;
  }
}
/*# sourceMappingURL=styles.css.map */